{% extends "layout.html" %}

{% block title %}
    Add To-Do
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <section class="grey-bg p-5 rounded shadow-sm">
            <h2 class="mb-4">Add To-Do</h2>
            <form action="/add" method="post">
              <div class="mb-4">
                <label for="title" class="form-label">To-Do Title</label>
                <input type="text" name="title" class="form-control form-control-lg" id="title" required />
              </div>
              <div class="mb-4">
                <label for="category" class="form-label">To-Do Category</label>
                <input type="text" name="category" class="form-control form-control-lg" id="category" required />
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary px-5">Submit</button>
              </div>
            </form>
        </section>
    </div>
{% endblock %}
